// Variables

// Gray and Brand Colors for use across theme

$theme-primary: #fed136;
$theme-danger: #e74c3c;

$gray-base: #000 !default;
$gray-darker: #96f;//lighten($gray-base, 13.5%) !default;
$gray-dark: #96f;
//lighten($gray-base, 20%) !default;
$gray: #96f; //lighten($gray-base, 33.5%) !default;
$gray-light:#96f;// lighten($gray-base, 46.7%) !default;
$gray-lighter: #96f;//lighten($gray-base, 93.5%) !default;
