  <!DOCTYPE html>
  <html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IdeaDent</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/agency.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

  </head>

  <body id="page-top">
     <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">IdeaDent</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
          </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <% for(var i=0; i<options.length; i++) {%>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#<%= options[i].nav %>"><%= options[i].name %></a>
            </li>
            <% } %>
          </ul>
        </div>

      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div id="cookieConsent">

        <div class="intro-text">
          <!-- <div class="intro-lead-in">Ambulancia dentálnej hygieny</div> -->

          <!-- <div class="intro-head ing">Ideadent - ambulancia dentálnej hygieny</div> -->
          <!-- <a class="btn btn-xl js-scroll-trigger" href="#services">Viac</a> -->
        </div>
      </div>
    </header>

    <!-- About -->
    <section class="bg-light" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="ideadent">IdeaDent - ambulancia dentálnej hygieny</div>
            <br>
            <h2 class="section-heading">O nás</h2>
            <h3 class="section-subheading text-muted">Našou prioritou je Vaša spokojnosť a skvelý pocit.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="img/about/silvia.jpg" alt="">
              <h4>Silvia Popovičová</h4><br>
              <ul class="text-muted text-name">
                <li>diplomovaná dentálna hygienička </li>
                <li>členka Asociácie dentálnych hygieničiek na Slovensku </li>
                <li>registrovaná v SKMTP </li>
                <li>vyššie odborné vzdelanie ukončené diplomom </li>
                <li>certifikáty z absolvovania teoreticko-praktických školení a akcií </li>
              </ul>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/Ambulancia-dent%C3%A1lnej-hygieny-BratislavaIdeadent-371732929584683/">
                      <i class="fa fa-facebook"></i>
                    </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="img/about/janka.jpg" alt="">
              <h4>Bc. Jana Švarcová</h4><br>
              <div class="text-muted">
                <ul class="text-muted text-name">
                  <li>diplomovaná dentálna hygienička</li>
                  <li>členka Asociácie dentálnych hygieničiek na Slovensku</li>
                  <li>registrovaná v SKMTP</li>
                  <li>vyššie odborné vzdelanie ukončené diplomom</li>
                  <li>certifikáty z absolvovania teoreticko-praktických školení a akcií</li>
                </ul>
              </div>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/pg/Ambulancia-dent%C3%A1lnej-hygieny-Malacky-Ideadent-241120759402360/">
                      <i class="fa fa-facebook"></i>
                    </a>
                </li>
              </ul>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <p class="large text-muted">Tešíme sa na Vašu návštevu v našich prevádzkach v Bratislave a v Malackách.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Portfolio Grid -->
    <section class="bg-light" id="dental">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Dentálna hygiena</h2>
              <h3 class="section-subheading text-muted">Absolvovanie dentálnej hygieny v pravidelných intervaloch je základom prevencie vzniku kazov, zápalov, straty zubov a v konečnom dôsledku zvýšuje kvalitu života.
Počas ošetrenia sa odstraňuje zubný kameň nad i pod ďasnom.  Nasleduje preleštenie , odstránenie pigmentov, prípadne pieskovanie, ktoré prečistí aj ťažko prístupné priestory. Ošetrenie sa ukončuje lokálnym ošetrením ďasien a fluoridáciou. Zuby zostávajú hladšie, belšie a krajšie.</h3>
          </div>
          <div class="row text-center">
            <% for(var i=0; i<portfolio.items.length; i++) { %>
    <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-chevron-right fa-stack-1x fa-inverse"></i>
                </span>
              <h4 class="service-heading"><%= portfolio.items[i].name %></h4>
              <p class="text-muted"><%= portfolio.items[i].long %></p>
            </div>
            <% } %>
        </div>

      <!-- </div> -->
    </section>

    <section id="prices" class="bg-light">

        <div class="container">
          <h2>Cenník </h2>
          <table>
            <tr>
              <th>Dospelí</th>
            </tr>
            <tr>
              <td width="70%">Dentálna hygiena cca 60min</td>
              <td>40 €</td>
            </tr>
            <tr>
              <td>
                zahŕňa:
                <ul class="text-muted">
                <li>odstránenie zubného kameňa - ultrazvukový EMS prístroj, špeciálne nástroje</li>
                <li>odstránenie pigmentov, povlakov, polishing, fluoridáciu</li>
                <li>motiváciu, inštruktáž</li>
              </ul>
              </td>
            </tr>
            <tr>
              <td width="70%">
              Dentálna hygiena + AIR FLOW - pieskovanie zubov
              </td>
              <td>50 €</td>
            </tr>
            <tr>
              <td width="70%">
            Dentálna hygiena 2.sedenie cca 30min.
              </td>
              <td>30 €</td>
            </tr>
            <tr>
              <td width="70%">
             <ul class="text-muted"><li>prípadné dočistenie zubného kameňa a povlakov</li> </ul>
              </td>
            </tr>
            <tr>
              <th>Deti</th>
            </tr>
            <tr>
              <td width="70%">
                Dentálna hygiena s odstránením zub. povlaku + kameňa</td>
              <td>25 €</td>
            </tr>
            <tr>
              <td>
                zahŕňa:
                <ul class="text-muted">
                <li>odstránenie zubného kameňa</li>
                <li>odstránenie pigmentov, povlakov, polishing, fluoridáciu</li>
                <li>motiváciu, inštruktáž</li>
              </ul>
              </td>
            </tr>
          </table>
          <br>Kompletný cenník máte k nahliadnutiu v čakárni ambulancie.
        </div>
    </section>
    <!-- Gallery Grid -->
        <section class="bg-light" id="portfolio">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Fotogaléria</h2>
                <h3 class="section-subheading text-muted">Pozrite si ambulancie.</h3>
                <h4 class="section-subheading text-muted">Ambulancia Bratislava</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                  <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                      <i class="fa fa-plus fa-3x"></i>
                    </div>
                  </div>
                  <img class="img-fluid" src="img/portfolio/01-thumbnail.jpg" alt="">
                </a>
                <!-- <div class="portfolio-caption">
                  <h4>Threads</h4>
                  <p class="text-muted">Illustration</p>
                </div> -->
              </div>
              <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                  <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                      <i class="fa fa-plus fa-3x"></i>
                    </div>
                  </div>
                  <img class="img-fluid" src="img/portfolio/02-thumbnail.jpg" alt="">
                </a>
                <!-- <div class="portfolio-caption">
                  <h4>Explore</h4>
                  <p class="text-muted">Graphic Design</p>
                </div> -->
              </div>
              <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                  <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                      <i class="fa fa-plus fa-3x"></i>
                    </div>
                  </div>
                  <img class="img-fluid" src="img/portfolio/03-thumbnail.jpg" alt="">
                </a>
                <!-- <div class="portfolio-caption">
                  <h4>Finish</h4>
                  <p class="text-muted">Identity</p>
                </div> -->
              </div>
              <div class="col-lg-12 text-center">
                <h4 class="section-subheading text-muted">Ambulancia Malacky</h4>
              </div>
              <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                  <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                      <i class="fa fa-plus fa-3x"></i>
                    </div>
                  </div>
                  <img class="img-fluid" src="img/portfolio/04-thumbnail.jpg" alt="">
                </a>
                <!-- <div class="portfolio-caption">
                  <h4>Lines</h4>
                  <p class="text-muted">Branding</p>
                </div> -->
              </div>
              <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
                  <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                      <i class="fa fa-plus fa-3x"></i>
                    </div>
                  </div>
                  <img class="img-fluid" src="img/portfolio/05-thumbnail.jpg" alt="">
                </a>
                <!-- <div class="portfolio-caption">
                  <h4>Southwest</h4>
                  <p class="text-muted">Website Design</p>
                </div> -->
              </div>
              <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
                  <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                      <i class="fa fa-plus fa-3x"></i>
                    </div>
                  </div>
                  <img class="img-fluid" src="img/portfolio/06-thumbnail.jpg" alt="">
                </a>
                <!-- <div class="portfolio-caption">
                  <h4>Southwest</h4>
                  <p class="text-muted">Website Design</p>
                </div> -->
              </div>
            </div>
          </div>
        </section>

    <!-- Contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Kontakt a ordinačné hodiny</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
              <div class="row">
                <div class="col-md-6">
                  BRATISLAVA:<br>
                  Popovičová,dipl.d.h.<br>
                  Medicentrum Strečnianska 13<br>
                  t.č.: 0905794241<br>
                  e-mail: popovicova@ideadent.sk<br><br>
                  <table>
                  <tr>
                    <td>Pondelok:</td>
                    <td>8:00 - 15:00</td>
                  </tr>
                  <tr>
                    <td>Utorok</td>
                    <td>8:00 - 15:00</td>
                  </tr>
                  <tr>
                    <td>Streda</td>
                    <td>12:30 - 18:00</td>
                  </tr>
                  <tr>
                    <td>Štvrtok</td>
                    <td>8:00 - 15:00</td>
                  </tr>
                  </table>
                </div>
                <div class="col-md-6">
                  MALACKY:<br>
                  Bc.Švarcová,dipl.d.h.<br>
                  Zdravotné stredisko Na Brehu 3<br>
                  t.č.: 0903771014<br>
                  e-mail: svarcova@ideadent.sk<br><br>
                  <table>
                  <tr>
                    <td>Pondelok:</td>
                    <td>12:00 - 18:00</td>
                  </tr>
                  <tr>
                    <td>Utorok</td>
                    <td>8:00 - 14:00</td>
                  </tr>
                  <tr>
                    <td>Streda</td>
                    <td>8:00 - 14:00</td>
                  </tr>
                  <tr>
                    <td>Štvrtok</td>
                    <td>8:00 - 14:00</td>
                  </tr>
                  </table>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; IdeaDent 2018</span>
  
          </div>
        </div>
      </div>
      
    </footer>



    <!-- Portfolio Modals -->

    <!-- Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <!--  <h2>Zubný povlak</h2>
                  <p class="item-intro text-muted">Odstránenie zubného povlaku je základom v domácej a aj v profesionálnej starostlivosti o zdravie a krásu nášho chrupu.</p> -->
                  <img class="img-fluid d-block mx-auto" src="img/portfolio/01-thumbnail.jpg" alt="">
                  <!--
                  <p>Zubný povlak sa nachádza na plochách zubov. Hlavnou zložkou sú baktérie a produkty ich látkovej výmeny, zvyšky potravy, zvyšky buniek a zložky slín. Baktérie nachádzajúce sa v povlaku, môžu byť príčinou vzniku zubného kazu, zápalu ďasien (gingivitídy),zápalu závesného aparátu zuba (parodontitídy).
                    Zubný povlak postupne môže mineralizovať a stáva sa z neho zubný kameň.
                  </p> -->
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                      <i class="fa fa-times"></i>
                      Naspäť</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here
                  <h2>Zubný kameň</h2>
                  <p class="item-intro text-muted">Odstránenie zubného kameňa u dentálnej hygieničky je dôležitou súčasťou v prevencii a liečbe ochorení závesného aparátu zuba.</p> -->
                  <img class="img-fluid d-block mx-auto" src="img/portfolio/02-thumbnail.jpg" alt="">
                  <!-- <p>Minerály, nachádzajúce sa v sline, prijatej potrave môžu viesť k tomu, že zubný povlak nachádzajúci sa na zuboch mineralizuje, teda tvrdne a vzniká zubný kameň.
                     Môže sa nachádzať nad ďasnom – supragingiválny, alebo aj pod ďasnom – subgingiválny.
                     Jeho farba je normálne žltá, ale môže byť aj hnedá až čierna.
                  </p> -->
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                      <i class="fa fa-times"></i>
                      Naspäť</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <img class="img-fluid d-block mx-auto" src="img/portfolio/03-thumbnail.jpg" alt="">
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                      <i class="fa fa-times"></i>
                        Naspäť</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <img class="img-fluid d-block mx-auto" src="img/portfolio/04-thumbnail.jpg" alt="">
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                      <i class="fa fa-times"></i>
                      Naspäť</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <img class="img-fluid d-block mx-auto" src="img/portfolio/05-thumbnail.jpg" alt="">
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                      <i class="fa fa-times"></i>
                        Naspäť</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <img class="img-fluid d-block mx-auto" src="img/portfolio/05-thumbnail.jpg" alt="">
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                      <i class="fa fa-times"></i>
                        Naspäť</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/agency.min.js"></script>
    <div id="closeCookieConsent">x</div>
    This website is using cookies. <a href="#" target="_blank">More info</a>. <a class="cookieConsentOK">That's Fine</a>
</div>
  </body>

  </html>
